* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
}

#whole {
    display: flex;
    width: 100%;
    background-color:#302E2B;
}

#left_container {
    background-color: #262522;
    width: 10%;
    height: 100vw;
    display: flex;
    flex-direction: column;
    position: fixed;
}

#hover_container {
    height: 100vh;
    width: 20%;
    background-color: #141413;
    display: flex;
    flex-direction: column;
    visibility: hidden;
    position: fixed;
    margin-left: 10%;
    overflow-y: auto;
    z-index: 1000;
}

#hover_container::-webkit-scrollbar {
    width: 5px;
}

#logo_box {
    text-align: center;
    justify-content: center;
    padding: 0px;
    padding-top: 4px;
}

#logo_box:hover{
    background-color: rgb(26, 26, 26);
    cursor: pointer;
}

#logo {
    width: 117px;
    height: 40px;
}


.left_container_item {
    padding: 13px;
    color:rgb(218, 218, 218);
    font-weight: 890;
    height: 47px;
    display: flex;
    font-size: 15px;
}

.left_container_item:hover {
    background-color: rgb(26, 26, 26);
    color: white;
    cursor: pointer;
}

.left_container_img{
    height: 25px;
    width: 25px;
    margin-right: 10px;
}

.hover_container_img {
    height: 20px;
    width: 20px;
    margin-right: 8px;
}

.hover_container_item {
    display: none;
    color:rgb(218, 218, 218);
    width: 100%;
    height: 100%;
}

.hover_container_items {
    display: flex;
    width: 100%;
    height: 44px;
    align-items: center;
    padding: 15px;
    font-weight: 600;
    font-size: 14px;
    color: rgb(218, 218, 218)
}

.hover_container_items a:link{
    color: inherit;   
    text-decoration: none; 
}

.hover_container_items a:visited{
    color: inherit;   
    text-decoration: none; 
}

.hover_container_items:hover {
    color: white;
    cursor: pointer;
    background-color: black;
}

.hover_container_block {
    display: flex;
    color: rgb(209, 209, 209);
    background-color: #262423;
    height: 42px;
    align-items: center;
    font-size: 14px;
    font-weight: 700;
    margin: 7px;
    padding: 7px;
}

#search {
    background-color: rgb(54, 54, 54);
    height: 100%;
    border: 1px, solid, rgb(82, 82, 82);
    border-radius: 3px;
    padding-left: 7px;
    height: 32px;
    margin: 10px;
    display: flex;
    background-image: url(png/search.png);
    background-position: right;
    background-size: 25px 25px;
    background-repeat: no-repeat;
}

#search:focus {
    outline: none;
    border: 1px solid rgb(153, 153, 153);
}


.id_box {
    border-radius: 4px;
    height: 40px;
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    font-weight: 450;
    font-size: 14px;
    border-bottom: #486e21 1px solid;
}

.id_box:hover {
    cursor: pointer;
}

#signup_box {
    color: white;
    background-color: #81B64C;
}

#login_box {
    background-color: #3C3A38;
    color: #FFFFFFb9;
    border-bottom: #242221 1px solid;

}

#main_first_img {
    height: 500px;
    width: 500px;
    margin-right: 70px;
    border-radius: 7px;
}

#main_first_img:hover {
    cursor: pointer;
}

#main_container {
    margin-left: 10%;
    height: fit-content;
    display: flex;
    justify-content: center;
    flex-grow: 1;
}


#main_container_layout {
    width: 1100px;
    display: flex;
    align-items: center;
    flex-direction: column;
    height: fit-content;
    padding: 30px;
}

#main_first {
    display: flex;
    width: 100%;
    height: fit-content;
}

.main_first_second {
    display: flex;
    width: fit-content;
    height: auto;
    flex-direction: column;
    align-items: center;
}

.main_first_second_title {
     color: white;
     font-size: 45px;
     text-align: center;
     display: flex;
     height: fit-content;
     margin-top: 30px;
     font-weight: 800;
}

#main_static {
    display: flex;
    height: fit-content;
    width: auto;
    margin: 10px;
    margin-top: 20px;
    margin-bottom: 40px;
    color: gray;
    font-weight: 400;
}

.main_static_value {
    color: white;
    font-weight: 600;
}

.main_first_button {
    width: 400px;
    height: 100px;
    margin: 15px;
    padding: 20px;
    display: flex;
    align-items: center;
    border-bottom: 4px solid #486e21;
    border-radius: 12px;
    background-color: #81B64C;
}

.main_first_button_text {
    display: flex;
    flex-direction: column;
    margin-left: 30px;
    text-shadow: 0px 0.5px 0px black;
}

.main_first_button_title {
    color: white;
    font-size: 28px;
    font-weight: 750;
    margin-bottom: 8px;
}

.main_first_button_img {
    width: 63px;
    height: 63px;
}

.main_second {
    background-color: #262522;
    height: 500px;
    width: 100%;
    margin-top: 30px;
    border-radius: 10px;
    display: flex;
    align-items: center;
}

.bright:hover {
    filter: brightness(1.15);
    cursor: pointer;
}

.main_second_first {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.main_second_img {
    width: 400px;
    height: 410px;
    margin: 50px;
    margin-bottom: 60px;
}

.main_second_img:hover {
    cursor: pointer;
}

.main_second_button {
    width: 200px;
    height: 65px;
    background-color: #81B64C;
    border-radius: 7px;
    margin: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 23px;
    font-weight: 800;
    text-shadow: 0px 0.5px 0px black;
    border-bottom: 4px solid #486e21;
}

.main_second_first_second {
    display: flex;
    width: 100%;
    margin-left: 100px;
    align-items: center;
}

.main_second_first_second_second {
    margin-left: 50px;
    color: lightgray;
    width: 250px;
    display: flex;
    flex-direction: column;
}

.gm {
    background-color: #722F2C;
    border-radius: 5px;
    width: 25px;
    height: fit-content;
    display: flex;
    justify-content: center;
    color: white;
    font-size: 12px;
    margin-right: 7px;
    font-weight: 500;
    transform: translate(0px, 3px);

}

#main_fourth {
    display: flex;
    width: 100%;
    height: 850px;
    align-items: center;
    flex-direction: column;
}

#main_fourth_title {
    color: white;
    text-decoration: none;
    font-size: 32px;
    font-weight: 700;
    margin: 50px;
} 

#main_fourth_title:visited {
    color: white;
    text-decoration: none;
} 

#main_fourth_title:hover {
    color: lightgray;
}

.news_block {
    display: flex;
    width: 100%;
    justify-content: space-between
}

.news_item {
    width: fit-content;
    height: fit-content;
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.news_item:hover {
    cursor: pointer;
    filter: brightness(0.9);
}

.news_img {
    width: 500px;
    height: 280px;
    margin-bottom: 20px;
}

.news_title {
    color: white;
    font-size: 17px;
    font-weight: 500;
}

.news_by {
    color: lightgray;
    font-size: 14px;
    margin-top: 5px;
    font-weight: 500;
}

#menu {
    display: flex;
    width: fit-content;
}

.menu_item{
    color: gray;
    text-decoration: none;
    font-size: 11px;
    font-weight: 500;
}

.menu_item:visited {
    color: gray;
    text-decoration: none;
}

.menu_item:hover {
    color: white;
}

.dot {
    font-size:25px;
    color: gray;
    transform: translate(0px, -10px);
}

.dot:hover {
    cursor: default;
}

#logos {
    display: flex;
    width: 300px;
    height: 25px;
    justify-content: center;
    justify-content: space-between;
}

.logos_svg {
    width: auto;
    height: 23px;
}

.logos_svg:hover {
    cursor: pointer;
}

#extra_box {
    height: 180px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.extra_box_item {
    display: flex;
    align-items: center;
    color: gray;
    font-size: 12px;
    font-weight: 600;
    width: 100%;
    height: 30px;
    padding: 15px;
}

.extra_box_item:hover {
    background-color: rgb(26, 26, 26);
    color: white;
    cursor: pointer;
}

.extra_box_img {
    height: 19px;
    width: auto;
    margin-right: 10px;
}